

  /*! photo.gallery.css © yamoo9.net, 2017 */
  body {
    margin: 0;
  }

  .photo-gallery {
    /*margin: 8rem;*/ /* 컨테이너를 둘러 싸는 영역 */
    max-width: 100vw;
    min-height: 100vh; /* viewport height */
    background: #000;
  }

  .photo-gallery img {
    width: 33.3333%;
    height: auto;
    vertical-align: top;
  }
