/*! javascript.core.css © yamoo9.net, 2017 */

.is-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.is-rwd {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.music-player {
  margin: 1rem;
  width: 400px;
}
.music-coverlist {}
