/*! javascript.core.css © yamoo9.net, 2017 */

.is-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.is-rwd {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.music-player {
  overflow: hidden;
  width: 300px;
}
.music-coverlist {
  display: flex;
  transform: translateX(0px);
}
.music-cover-item {
  flex: 1 0 300px;
}
